.navbar.is-primary .navbar-brand>a.navbar-item:hover {
  background-color: unset!important;
}

#auth-dropdown {
  width: 100px;

  > .navbar-link {
    width: 100%;
  }

  > .navbar-dropdown {
    width: 200px;

    .text-panel {
      display: block;
    }
  }
}

.readonly-value {
  border: 1px solid transparent;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}